<!DOCTYPE html>
<html lang="en">

<head>
    <title>ContentFull POC Site</title>
    <% include partials/head.ejs %>		
</head>

<body>
	<% include partials/menu.ejs %>
	
	<br><br><br>
	
	<div class="container">
		<div class="container-fluid">
	
		<% include partials/breadcrumb.ejs %>
		</div>
	
	</div>
	
	
	<div class="container">				
		<% include partials/message.ejs %>
		<div class="container-fluid">
		<% if (products.length) { %>
		<div class="well well-sm">
			<strong>Display</strong>
			<div class="btn-group">
				<a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
				</span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
					class="glyphicon glyphicon-th"></span>Grid</a>
			</div>
		</div>
		
		
		<div id="products" class="row list-group">
			<% for (var i = 0; i < products.length; i++) { %>
				<div class="item  col-xs-4 col-lg-4">
					
					<div class="thumbnail">
						<a href="/view/<%= products[i].sys.id %>">
						<img class="group list-group-image img-responsive" src="http:<%- products[i].fields.image.fields.file.url %>?w=400&h=250&fit=pad" alt="" />
						</a>
						<div class="caption">
							<a href="/view/<%= products[i].sys.id %>">
							<h4 class="group inner list-group-item-heading text-capitalize"><%= products[i].fields.product_title.substr(0,55) %></h4>
							</a>
							<p class="group inner list-group-item-text text-lowercase"><%= products[i].fields.description.substr(0,130) %></p>
							<div class="row">
								<div class="col-xs-12 col-md-6">
									<p class="lead">$ <%- products[i].fields.product_price %></p>
								</div>
								<div class="col-xs-12 col-md-6">
									<a class="btn btn-success" href="javascript:void();">Add to cart</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			<% } %>
		</div>
		<% } else { %>  
		<div align="center" style="color:red;">No products found</div>
		<% } %>  
		</div>
	</div>
	
  <% include partials/jsIncludes.ejs %>

</body>

</html>
